<html>
     <head>
         <style>
                #layer {
                    margin: 0;
                    background-color: transparent;
                    width: 20%;
                    margin-left: auto;
                    margin-right: auto;
                    width: 1000px;
                }
                #clear {
                    clear: both;
                    display: block;
                    overflow: hidden;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    visibility: hidden;
                    width: 0;
                    height: 0;
                }
        </style>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            $(dform.playlist_id).keyup(function(){
                $(dform).get(0).setAttribute('action', $(dform.playlist_id).val()+'/list');
            });
        });
        </script>
    </head>
    <body>
        <div id="layer" style="width:1600; line-height: 1.75em">
            <div id="clear"></div>
            <div><h1>YOUTUBE PLAYLISTS</h1></div>
            <div style="width: 400px; margin-left: 0; display: inline; float: left"><form id="dform" action="foo" method="post">
                <input type="text" id="playlist_id" />
                <input type="submit" id="sub" value="show" />
            </form></div>
            <div style="width: 1180px; margin-right: 0; display: inline; float: left">{{template "items" .}}</div> 
        </div>
    </body>
</html>
